{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Calendário de Eventos" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <header class="d-flex justify-content-between align-items-center mb-4">
        <h1>{% trans "Calendário de Eventos" %}</h1>
        <nav class="btn-group">
            <a href="{% url 'index' %}" class="btn btn-outline-secondary">{% trans "Home" %}</a>
            <a href="{% url 'event_create' %}" class="btn btn-primary">{% trans "Adicionar Evento" %}</a>
            <a href="{% url 'document_list' %}" class="btn btn-outline-secondary">{% trans "Documentos" %}</a>
        </nav>
    </header>
    
    <main>
        <h2 class="text-center mb-4">{% trans "Eventos" %}</h2>
        <div class="table-responsive">
            <table class="table table-hover table-striped bg-light shadow-sm">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>{% trans "Nome" %}</th>
                        <th>{% trans "Data" %}</th>
                        <th>{% trans "Descrição" %}</th>
                        <th class="text-center">{% trans "Ações" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td class="align-middle">{{ event.name }}</td>
                        <td class="align-middle">{{ event.date }}</td>
                        <td class="align-middle">{{ event.description }}</td>
                        <td class="align-middle text-center">
                            <div class="btn-group" role="group">
                                <a href="{% url 'event_update' event.id %}" class="btn btn-warning btn-sm" title="{% trans 'Editar' %}">{% trans "Editar" %}</a>
                                <a href="{% url 'event_delete' event.id %}" class="btn btn-danger btn-sm" title="{% trans 'Excluir' %}">{% trans "Excluir" %}</a>
                                <a href="{% url 'register_for_event' event.id %}" class="btn btn-success btn-sm" title="{% trans 'Registrar' %}">{% trans "Registrar" %}</a>
                                <a href="{% url 'event_registrations' event.id %}" class="btn btn-info btn-sm" title="{% trans 'Listar Inscritos' %}">{% trans "Inscritos" %}</a>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">{% trans "Nenhum evento encontrado." %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</div>
{% endblock %}
