{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Formulário de Configuração" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{% trans "Formulário de Configuração" %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% trans "Salvar" %}</button>
    </form>
    <a href="{% url 'settings_list' %}" class="btn btn-secondary mt-3">{% trans "Voltar para a Lista" %}</a>
</div>
{% endblock %}
