{% extends "base.html" %}
{% load static %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% trans "Confirmar Exclusão de Perfil" %}</title>
    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% block content %}
    <div class="container mt-5">
        <div class="profile-confirm-delete">
            <h1>{% trans "Confirmar Exclusão de Perfil" %}</h1>
            <p>{% trans "Tem certeza de que deseja excluir seu perfil? Esta ação não pode ser desfeita." %}</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">{% trans "Excluir Perfil" %}</button>
                <a href="{% url 'user_profile' %}" class="btn btn-secondary">{% trans "Cancelar" %}</a>
            </form>
        </div>
    </div>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.amazonaws.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
