{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="edit-profile-form">
        <h1>{% trans "Editar Perfil" %}</h1>
        
        {% if user.profile.profile_picture %}
            <div class="profile-picture">
                <img src="{{ user.profile.profile_picture.url }}" alt="{% trans 'Foto de Perfil' %}" class="img-thumbnail">
            </div>
        {% endif %}
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field|capfirst }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary-custom">{% trans "Salvar" %}</button>
        </form>
        <a href="{% url 'user_profile' %}" class="cancel-link">{% trans "Cancelar" %}</a>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
