{% extends "base.html" %}
{% load static %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% trans "Editar Perfil" %}</title>
    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrap.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% block content %}
    <div class="container mt-5">
        <div class="edit-profile-form">
            <h1>{% trans "Editar Perfil" %}</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ field|capfirst }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary-custom">{% trans "Salvar" %}</button>
            </form>
            <a href="{% url 'user_profile' %}" class="cancel-link">{% trans "Cancelar" %}</a>
        </div>
    </div>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrap.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
