{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Adicionar FAQ" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <header>
        <h1>{% trans "Adicionar FAQ" %}</h1>
        <nav>
            <a href="{% url 'faqs' %}" class="btn btn-secondary">{% trans "Voltar para Lista de FAQs" %}</a>
        </nav>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{% trans "Salvar" %}</button>
        </form>
    </main>
</div>
{% endblock %}
