<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% load i18n %} {% trans "Recuperar Senha" %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrap.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 form-container">
                <h2 class="text-center">{% trans "Recuperar Senha" %}</h2>
                <form method="post">
                    {% csrf_token %}
                    <p class="text-center">{% trans "Digite seu e-mail para receber um link de recuperação de senha." %}</p>
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block">{% trans "Enviar Link" %}</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrap.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
