{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Oportunidades de Voluntariado" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <header class="d-flex justify-content-between align-items-center mb-4">
        <h1>{% trans "Oportunidades de Voluntariado" %}</h1>
        <a href="{% url 'volunteer_create' %}" class="btn btn-primary">{% trans "Criar Oportunidade" %}</a>
    </header>
    
    <main class="mt-4">
        {% if opportunities %}
            <div class="table-responsive">
                <table class="table table-hover table-striped bg-light shadow-sm">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>{% trans "Título" %}</th>
                            <th>{% trans "Descrição" %}</th>
                            <th>{% trans "Data" %}</th>
                            <th class="text-center">{% trans "Ações" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for opportunity in opportunities %}
                            <tr>
                                <td class="align-middle">{{ opportunity.title }}</td>
                                <td class="align-middle">{{ opportunity.description }}</td>
                                <td class="align-middle">{{ opportunity.date }}</td>
                                <td class="align-middle text-center">
                                    <div class="btn-group" role="group">
                                        <a href="{% url 'register_volunteer' opportunity.id %}" class="btn btn-success btn-sm">{% trans "Registrar" %}</a>
                                        <a href="{% url 'volunteer_registrations' opportunity.id %}" class="btn btn-info btn-sm">{% trans "Listar Registos" %}</a>
                                        <a href="{% url 'volunteer_update' opportunity.id %}" class="btn btn-warning btn-sm">{% trans "Editar" %}</a>
                                        <form method="post" action="{% url 'volunteer_delete' opportunity.id %}" class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm">{% trans "Eliminar" %}</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-info text-center">
                {% trans "Nenhuma oportunidade de voluntariado disponível." %}
            </div>
        {% endif %}
    </main>
</div>
{% endblock %}
