{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Registros de Voluntariado" %} {% trans "para" %} "{{ opportunity.title }}"{% endblock %}

{% block content %}
<div class="container mt-5">
    <header class="d-flex justify-content-between align-items-center mb-4">
        <h1>{% trans "Registros de Voluntariado para" %} "{{ opportunity.title }}"</h1>
        <nav>
            <a href="{% url 'volunteer_opportunities' %}" class="btn btn-secondary">{% trans "Voltar para Oportunidades" %}</a>
        </nav>
    </header>
    <main class="mt-4">
        {% if registrations %}
            <div class="table-responsive">
                <table class="table table-bordered table-striped bg-white">
                    <thead>
                        <tr>
                            <th>{% trans "Nome" %}</th>
                            <th>{% trans "Email" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for registration in registrations %}
                            <tr>
                                <td>{{ registration.name }}</td>
                                <td>{{ registration.email }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>{% trans "Nenhum registro encontrado." %}</p>
        {% endif %}
    </main>
</div>
{% endblock %}
