{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Confirmar Exclusão" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{% trans "Tem certeza que deseja excluir o projeto" %} "{{ project.title }}"?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Confirmar" %}</button>
        <a href="{% url 'project_list' %}" class="btn btn-secondary">{% trans "Cancelar" %}</a>
    </form>
</div>
{% endblock %}
