{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Nova Política de Privacidade" %}{% endblock %}

{% block extrahead %}
  {{ form.media }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{% if form.instance.pk %}{% trans "Editar Política de Privacidade" %}{% else %}{% trans "Nova Política de Privacidade" %}{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="quill-editor">{{ form.content.label }}</label>
            <div id="quill-editor" style="height: 200px;">{{ form.content.value|safe }}</div>
            <textarea id="id_content" name="content" style="display:none;">{{ form.content.value|safe }}</textarea>
            {{ form.content.errors }}
        </div>
        <button type="submit" class="btn btn-primary">{% if form.instance.pk %}{% trans "Atualizar" %}{% else %}{% trans "Salvar" %}{% endif %}</button>
    </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Initialize the Quill editor
    var quill = new Quill('#quill-editor', {
      theme: 'snow',
      modules: {
        toolbar: [
          [{ 'font': [] }, { 'size': [] }],
          ['bold', 'italic', 'underline', 'strike'],
          [{ 'color': [] }, { 'background': [] }],
          [{ 'script': 'super' }, { 'script': 'sub' }],
          ['blockquote', 'code-block'],
          [{ 'list': 'ordered' }, { 'list': 'bullet' }],
          [{ 'align': [] }],
          ['link', 'image', 'video']
        ]
      }
    });

    // Set initial content of the Quill editor from the hidden textarea
    var initialContent = document.querySelector('textarea[name=content]').value;
    quill.clipboard.dangerouslyPasteHTML(initialContent);

    // Synchronize the hidden textarea with the content of the Quill editor
    function syncQuillContent() {
      var content = document.querySelector('textarea[name=content]');
      content.value = quill.root.innerHTML.trim();
    }

    // Synchronize content on editor change
    quill.on('text-change', function() {
      syncQuillContent();
    });

    // Ensure content is synchronized on form submission
    var form = document.querySelector('form');
    form.onsubmit = function() {
      syncQuillContent();
      var content = document.querySelector('textarea[name=content]');
      if (content.value === '') {
        alert('Content cannot be empty');
        return false;
      }
    };
  });
</script>
{% endblock %}
