{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Detalhes da Política de Privacidade" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{% trans "Política de Privacidade" %}</h1>
    <p><strong>{% trans "Última atualização:" %}</strong> {{ policy.last_updated|date:"d M Y H:i" }}</p>
    <div class="mb-3">
        {{ policy.content|safe }}
    </div>
    <a href="{% url 'privacy_policy_update' policy.id %}" class="btn btn-warning">{% trans "Editar" %}</a>
    <form action="{% url 'privacy_policy_delete' policy.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Excluir" %}</button>
    </form>
</div>
{% endblock %}
